<!DOCTYPE html>
<html>
    <head>
        <title>draw_web</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="items_div">
            <h1>项目列表</h1>
            <ul id="items_ul"></ul>
            <div id="upload_div"></div>
        </div>
        <div id="elements_div">
            <h1>元素列表</h1>
            <ul id="elements_ul"></ul>
            <textarea id="console_textarea" readonly></textarea>
        </div>
        <div id="rest_div">
            <div id="draw_div">
                <div id="frame_div"><canvas id="frame_canvas"></canvas></div>
                <div id="drawn_div"></div>
                <div id="drawing_div"><canvas id="drawing_canvas"></canvas></div>
            </div>
        </div>
        <div id="mxy_div"></div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>